.Layout-container {
  display: flex;
  align-items: stretch;
}

.Layout-nav {
  background: #040440;
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.Main-content {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  background: #f5f6f8;
  flex-grow: 5;
}

/* Media query for screens narrower than 768px (adjust as needed) */
@media (max-width: 768px) {
  .Layout-nav {
    width: 100%; /* Make the sidebar 100% width on smaller screens */
    position: relative; /* Remove the fixed positioning */
    top: auto;
    bottom: auto;
    overflow-y: hidden; /* Hide overflow to prevent a scrollbar */
  }

  .Main-content {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    background: #f5f6f8;
    flex-grow: 5;
  }
}

.Layout-nav-active-item {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-common {
  transition: all 0.25s ease-in-out;
  margin: 4px;
  text-decoration: none;
}

.nav-link-item-common {
  color: white;
  padding: 3px 6px;
  margin: 1px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-active .nav-link-item {
  border-radius: 2px;
  background: #2d2d69;
}

.nav-link-item-icon-text {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-link-item-arrow {
  margin-left: 10px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
}
