.barchart-container {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 300px;
}

.barchart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
}

@media (max-width: 768px) {
  .barchart-title-container {
    flex-direction: column;
    align-items: center;
  }

  .barchart-container {
    width: 65%;
    height: 360px;
  }
}

@media (min-width: 1600px) {
  .barchart-container {
    height: 360px;
  }
}
