.barchart-container {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.barchart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
}

@media (max-width: 768px) {
  .barchart-title-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .barchart-container {
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 480px) {
  .barchart-container {
    width: 100%;
    height: 280px;
  }
}
