.barchart-container {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.barchart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
}

@media screen and (min-width: 1000px) {
  .barchart-container-responsive {
    height: 290px;
    width: 680px;
  }
}
