.productsell-header-container {
  display: flex;
  flex-direction: column;
}

.productsell-header-container-common {
  display: flex;
  align-items: stretch;
  margin: 15px 0px 0px 15px;
}

.productsell-header-container-bottom {
  color: #d5d5d5;
  fontsize: 11px;
}

.productsell-header-container-productname {
  flex-grow: 7;
  margin: 0px;
  padding: 0px;
}

.productsell-header-container-dropdown {
  margin: 0px 15px 0px 15px;
  padding: 3px;
  background: #fafbff;
  border-radius: 5px;
  border: none;
  height: 40px;
}

@media (max-width: 768px) {
  .productsell-header-container-common {
    flex-direction: column;
    flex-row: wrap;
    align-items: center;
    margin: 15px 0px 0px 0px;
  }

  .productsell-header-container-productname {
    flex-grow: 1;
  }

  .productsell-header-container-dropdown {
    margin: 15px 15px 0px 15px;
  }
}
